.w-100 {
  width: 100%;
}

/** Flex  */
.flex {
  display: flex;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.gap-1 {
  gap: 1rem;
}

.gap-0-2 {
  gap: 0.2rem;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 2rem;
}

/** Text  */
.text-white {
  color: white;
}

.nowrap {
  white-space: nowrap;
}

.h-10 {
  min-height: 10rem;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.margin-inline-auto {
  margin-inline: auto;
}

.p-1 {
  padding: 1rem;
}

.p-bloack-1 {
  padding-block: 1rem;
}

.p-inline-1 {
  padding-inline: 1rem;
}

.p-b-1 {
  padding-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.ml--30 {
  margin-left: -30px;
}

.mb-20 {
    margin-bottom: 4rem;
}
 

.overflow-auto {
  overflow: auto;
}

.transform-y-2 {
  transform: translateY(2rem);
}

/** Others  */
.child-margin > *:not(:last-child) {
  margin-bottom: 20px;
}

/* .roomemeber > div:first-child > img:nth-child(3)
.roomemeber > div:last-child
.roomemeber > div:nth-child(2) */

.rsbs {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rsbs-header {
  display: none;
}

.rsbs-footer {
  display: none;
}
